/* responsive section  */

/* -----------------------
for mobile devices 
-----------------------*/

@media only screen and (max-width: 688px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  nav {
    display: block;
  }
  .hero {
    display: block;
  }
  .product {
    display: block;
  }
  .featured {
    display: block;
    width: 100%;
  }
  #people {
    width: 100%;
    text-align: center;
    margin-left: 70px;
  }
  .reviewCard {
    display: block;
    width: 100%;
  }
  footer {
    width: 100%;
  }
}
